<div class="panel-header panel-header-sm">
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <!--            <button class="btn btn-primary"> <i class="now-ui-icons ui-2_settings-90"></i> Edit Record </button>-->
              <button class="btn btn-info pull-right" (click)="goBack()"> <i class="now-ui-icons arrows-1_minimal-left"></i> Go Back </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> {{page_name}}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  
              <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label for="code" class="control-label required"> <strong> Title * </strong></label>
                    <select formControlName="title" id="title" class="form-control">
                      <option value="MR">MR</option>
                      <option value="MRS">MRS</option>
                      <option value="DR">DR</option>
                      <option value="ENGR">ENGR</option>
                      <option value="HON">HON</option>
                      <option value="PROF">PROF</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label for="surname" class="control-label required"> <strong> Surname * </strong></label>
                    <input type="text" class="form-control" formControlName="surname" id="surname" placeholder="Name" required>
                  </div>
                </div>
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label for="given_name" class="control-label required"> <strong> Other Names * </strong></label>
                    <input type="text" class="form-control" formControlName="given_name" id="given_name" placeholder="Name" required>
                  </div>
                </div>
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label for="gender" class="control-label required"> <strong> Gender </strong></label>
                    <select formControlName="gender" id="gender" class="form-control">
                      <option value="MALE">MALE</option>
                      <option value="FEMALE">FEMALE</option>
                    </select>
                  </div>
                </div>
  
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label for="birth_date" class="control-label required"> <strong> Date of Birth* </strong></label>
                    <input type="date" class="form-control" formControlName="birth_date" id="birth_date" placeholder="Date" required>
                  </div>
                </div>
                <div class="form-group col-sm-4">
                    <label for="marital_status" class="control-label required"><strong> Status </strong> </label>
                    <!-- <div class="col-md-9 col-form-label"> -->
                    <select id="marital_status" name="marital_status" class="form-control" formControlName="marital_status">
                      <option value="MARRIED">MARRIED</option>
                      <option value="SINGLE">MARRIED</option>
                      <option value="DIVORCED">DIVORCED</option>
                      <option value="SEPERATED">SEPERATED</option>
                      <option value="WIDOWED">WIDOWED</option>
                      <option value="UNKNOWN">UNKNOWN</option>
                    </select>
                    <!-- </div> -->
                  </div>
              </div>
  
            <div class="row">
              
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label for="phone" class="control-label required"> <strong> Phone (office)  </strong></label>
                  <input type="text" class="form-control" formControlName="phone" id="phone" placeholder="Phone (Personal)" required>
                </div>
              </div>
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label for="phone_personal" class="control-label required"> <strong> Phone (Personal)  </strong></label>
                  <input type="text" class="form-control" formControlName="phone_personal" id="phone_personal" placeholder="Phone (Personal)" required>
                </div>
              </div>
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label for="email" class="control-label required"> <strong> Email  </strong></label>
                  <input type="email" class="form-control" formControlName="email" id="email" placeholder="you@example.com" required>
                </div>
              </div>
            </div>
            
  
             <div class="row">
  
               <div class="col-md-12 pr-1">
                <div class="form-group">
                  <label for="address" class="control-label required"> <strong> Address </strong></label>
                  <textarea type="text" class="form-control" formControlName="address" id="address" placeholder="Address" required>
                  </textarea>  
                </div>
              </div>
  
             </div>
  
              <div class="row">
               <div class="col-md-4 pr-1">
                 <div class="form-group">
                   <label for="state" class="control-label required"> <strong> State </strong></label>
                   <ng-select class="form-control" id="state" formControlName="state" placeholder=""
                             [items]="stateOptions"
                             bindLabel="text"
                             [virtualScroll]="true"
                             bindValue="id">
                  </ng-select>
                 </div>
               </div>
               <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label for="county" class="control-label required"> <strong> Local Government Area </strong></label>
                  <ng-select class="form-control" id="county" formControlName="county" placeholder=""
                            [items]="countyOptions"
                            bindLabel="text"
                            [virtualScroll]="true"
                            bindValue="id">
                 </ng-select>
                </div>
              </div>
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label for="staff_type" class="control-label required"> <strong> Staff Type </strong></label>
                  <select formControlName="staff_type" id="staff_type" class="form-control">
                    <option value="TEACHING">TEACHING</option>
                    <option value="NONTEACHING">NON-TEACHING</option>
                  </select>
                </div>
              </div>
                
              </div>
  
  
              <div class="row">
                  <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label for="password" class="control-label required"> <strong> Password </strong></label>
                        <input type="password" class="form-control" formControlName="password" id="password" required>
                      </div>
                    </div>
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                          <label for="kin" class="control-label required"> <strong> Next of Kin </strong></label>
                          <input type="text" class="form-control" formControlName="kin" id="kin" placeholder="Next of Kin" required>
                        </div>
                      </div>
                      <div class="col-md-4 pr-1">
                          <div class="form-group">
                            <label for="kin_phone" class="control-label required"> <strong> Next of Kin's Phone Number </strong></label>
                            <input type="text" class="form-control" formControlName="kin_phone" id="kin_phone" placeholder="Next of Kin's Phone number" required>
                          </div>
                        </div>
  
              </div>
  
              <div class="row">
  
                  <div class="col-md-12 pr-1">
                   <div class="form-group">
                     <label for="address" class="control-label required"> <strong> Next of Kin's address </strong></label>
                     <textarea type="text" class="form-control" formControlName="kin_address" id="kin_address" placeholder="Next of Kin's address" required>
                     </textarea>  
                   </div>
                 </div>
     
                </div>
  
              <div class="row">
                  <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label for="guarantor1" class="control-label required"> <strong> Guarantor's name </strong></label>
                        <input type="text" class="form-control" formControlName="guarantor1" id="guarantor1" placeholder="Name of Guarantor" required>
                      </div>
                    </div>
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                          <label for="guarantor1_phone" class="control-label required"> <strong> Guarantor's Phone Number </strong></label>
                          <input type="text" class="form-control" formControlName="guarantor1_phone" id="guarantor1_phone" placeholder="Name of Guarantor" required>
                        </div>
                      </div>
  
              </div>
              <div class="row">
  
                  <div class="col-md-12 pr-1">
                   <div class="form-group">
                     <label for="guarantor1_address" class="control-label required"> <strong> Guarantor's address </strong></label>
                     <textarea type="text" class="form-control" formControlName="guarantor1_address" id="guarantor1_address" placeholder="Guarantor's address" required>
                     </textarea>  
                   </div>
                 </div>
     
                </div>
  
              <div class="row">
                  <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label for="qualification" class="control-label required"> <strong> Qualification </strong></label>
                        <input type="text" class="form-control" formControlName="qualification" id="qualification" placeholder="Qualification" required>
                      </div>
                    </div>
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                          <label for="employment_status" class="control-label required"> <strong> Employment Status </strong></label>
                            <select formControlName="employment_status" id="employment_status" class="form-control">
                                <option value="PENDING">PENDING</option>
                                <option value="VERIFIED">VERIFIED</option>
                                <option value="APPROVED">APPROVED</option>
                                <option value="ON_DUTY">ON DUTY</option>
                                <option value="ON_LEAVE">ON LEAVE</option>
                                <option value="ON_PROBATION">ON PROBATION</option>
                                <option value="ON_SUSPENSION">ON SUSPENSION</option>
                                <option value="ON_RETIREMENT">ON RETIREMENT</option>
                                <option value="DISENGAGED">DISENGAGED</option>
                                <option value="ON_RETIREMENT">UNKNOWN</option>
                              </select>
                        </div>
                      </div>
                      <div class="col-md-4 pr-1">
                          <div class="form-group">
                            <label for="basic_salary" class="control-label required"> <strong> Basic Salary </strong></label>
                            <input type="number" class="form-control" formControlName="basic_salary" id="basic_salary" placeholder="" required>
                          </div>
                        </div>
              </div>
  
              <div class="row">
                  <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label for="office" class="control-label required"> <strong> Position </strong></label>
                        <input type="text" class="form-control" formControlName="office" id="office" placeholder="Position" required>
                      </div>
                    </div>
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                          <label for="subsidiary" class="control-label required"> <strong> Subsidiary </strong></label>
                          <select formControlName="subsidiary" id="subsidiary" class="form-control">
                              <option value="SECONDARY">SECONDARY</option>
                              <option value="PRIMARY">PRIMARY</option>
                              <option value="NURSERY">NURSERY</option>
                              <option value="CRECHE">CRECHE</option>
                              <option value="DAYCARE">DAYCARE</option>
                            </select>
                        </div>
                      </div>
                      <div class="col-md-4 pr-1">
                          <div class="form-group">
                            <label for="photo" class="control-label required"> <strong> Passport </strong></label>
                            <input type="file" class="form-control" formControlName="photo" id="photo" required>
                          </div>
                        </div>
              </div>
  
  
              <div class="row">
                <div class="col-sm-12 text-center">
                  <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">Submit
                    <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
