
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <!-- <ul>
        <li>
          <a href="https://www.nditah.com">
            Nditah
          </a>
        </li>
        <li>
          <a href="https://www.telixia.com">
            About Us
          </a>
        </li>
        <li>
          <a href="http://linkedin.com/in/nditah">
            LinkedIn
          </a>
        </li>
      </ul> -->
      Designed by
      <a href="https://nditah.com" target="_blank">TELIXIA.</a>&nbsp;
      <strong>Version</strong>
      1.0.1
    </nav>
    <div class="copyright">
      <strong>Copyright</strong>
      &copy;
      <strong>{{test | date: 'yyyy'}} Royal Academy</strong>
      All rights reserved.
    </div>
  </div>
</footer>
