
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <button class="btn btn-default" routerLink="/staff/edit/"> <i class="now-ui-icons ui-2_settings-90"></i> Edit Record</button>
                <button class="btn btn-primary pull-right" (click)="goBack()"> <i class="now-ui-icons arrows-1_minimal-left"></i> Go Back </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Staff Detail</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                <tbody>
                <tr><th>Name</th><td>{{record.title}}. {{ record.surname }} {{ record.given_name }}</td></tr>
                <tr><th>Gender</th><td>{{ record.gender || '' }}</td></tr>
                <tr><th>Phone (office)</th><td>{{ record.phone || '' }}</td></tr>
                <tr><th>Phone (Personal)</th><td>{{ record.phone_personal || '' }}</td></tr>
                <tr><th>Email</th><td>{{ record.email || '' }}</td></tr>
                <tr><th>Address</th><td>{{ record.address || '' }}</td></tr>
                <tr><th>State</th><td>{{ record.state || '' }}</td></tr>
                <tr><th>County</th><td>{{ record.county || '' }}</td></tr>
                <tr><th>Staff Type</th><td>{{ record.staff_type || '' }}</td></tr>
                <tr><th>Next of Kin</th><td>{{ record.kin || '' }}</td></tr>
                <tr><th>Next of Kin's Phone Number </th><td>{{ record.kin_phone || '' }}</td></tr>
                <tr><th>Next of Kin's address</th><td>{{ record.kin_address || '' }}</td></tr>
                <tr><th>Guarantor's name</th><td>{{ record.guarantor1 || '' }}</td></tr>
                <tr><th>Guarantor's Phone Number</th><td>{{ record.guarantor1_phone || '' }}</td></tr>
                <tr><th>Guarantor's Address</th><td>{{ record.guarantor1_address || '' }}</td></tr>
                <tr><th>Qualification</th><td>{{ record.qualification || '' }}</td></tr>
                <tr><th>Employment Status</th><td>{{ record.employment_status || '' }}</td></tr>
                <tr><th>Basic Salary</th><td>{{ record.basic_salary || '' }}</td></tr>
                <tr><th>Position</th><td>{{ record.office || '' }}</td></tr>
                <tr><th>Subsidiary</th><td>{{ record.subsidiary || '' }}</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>