<div class="panel-header panel-header-sm">
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <button class="btn btn-default" routerLink="/admission/edit/{{record.id}}"> <i class="now-ui-icons ui-2_settings-90"></i> Edit Record </button>
              <button class="btn btn-danger pull-right" (click)="goBack()"> <i class="now-ui-icons arrows-1_minimal-left"></i> Back </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Admission Detail</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                  <tbody>
                  <tr><th>Surname</th><td>{{ record.surname || '' }}</td></tr>
                  <tr><th>Given Name</th><td>{{ record.given_name || '' }}</td></tr>
                  <tr><th>State </th><td>{{ record.state_id.name || '' }}</td></tr>
                  <tr><th>LGA</th><td>{{ record.county_id.name || '' }}</td></tr>
                  <tr><th>Last Classs</th><td>{{ record.last_class.level || '' }}</td></tr>
                  <tr><th>Intending Class</th><td>{{ record.intending_class.level || '' }}</td></tr>
                  <tr><th>Date of Birth</th><td>{{ record.birth_date | date }}</td></tr>
                  <tr><th>Religion</th><td>{{ record.religion || '' }}</td></tr>
                  <tr><th>Home Town</th><td>{{ record.home_town || '' }}</td></tr>
                  <tr><th>Mother</th><td>{{ record.mother_name || '' }}</td></tr>
                  <tr><th>Father</th><td>{{ record.father_name || '' }}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>