
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Office Detail</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                  <tbody>
                          <tr><th>Code</th><td>{{ record?.code }}</td></tr>
                          <tr><th>Name</th><td>{{ record?.name }}</td></tr>
                          <tr><th>Subsidiary</th><td>{{ record?.subsidiary }}</td></tr>
                          <tr><th>Functions</th><td>{{ record?.functions }}</td></tr>
                          <tr><th>Hierarchy</th><td>{{ record?.hierarchy }}</td></tr>
                          <tr><th>Type</th><td>{{ record?.office_type }}</td></tr>
                          <tr><th>Reports to</th><td>{{ record.office_above?.name }}</td></tr>
                          <tr><th>Head</th><td>{{ record?.head?.surname }}</td></tr>
                          <tr><th>Assistant</th><td>{{ record?.assistant?.surname }}</td></tr>
                  
                    <!-- <tr><th>Created : </th><td>{{ record.created_at | date }}</td></tr>
                    <tr><th>Update : </th><td>{{ record.updated_at | date }}</td></tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

