<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <button class="btn btn-primary" routerLink="/example/add">
              <i class="now-ui-icons ui-1_simple-add"></i> Add New
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Example History</h4>
        </div>
        <div class="card-body">

          <!-- <app-advance-table *ngIf="currentRecords.length > 0"> -->
          <app-advance-table>
            <thead class="text-primary">
            <tr>
              <th class="text-left">SN</th>
              <th>Code</th>
              <th>Name</th>
              <th>Sender</th>
              <th>From</th>
              <th>To</th>
              <th>Currently</th>
              <th>Billing</th>
              <th>Delivery</th>
              <th class="text-right">Action</th>
            </tr>
            </thead>
            <tbody>
            <!-- <tr  *ngFor="let record of currentRecords; let i = index"> -->
            <tr>
              <td>1</td>
              <td>19202</td>
              <td>example column</td>
              <td>Okafor Chijioke </td>
              <td>Enugu</td>
              <td>Abuja</td>
              <td>Enugu</td>
              <td>Pre-Paid</td>
              <td>Pending</td>
              <td class="td-actions text-right">
                <div class="btn-group btn-group-sm">
                  <button type="button" class="btn btn-primary btn-sm btn-simple">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div ngbDropdown class="dropdown btn-group" placement="bottom-right">
                    <button class="btn btn-primary btn-sm dropdown-toggle-split" ngbDropdownToggle></button>
                    <div ngbDropdownMenu>
                      <!-- <a class="dropdown-item text-primary" href="javascript:void(0)" (click)="goToDetail(record)"> -->
                      <a class="dropdown-item text-primary" href="javascript:void(0)">
                        <i class="now-ui-icons tech_tv"></i> View Detail
                      </a>
                      <!-- <a class="dropdown-item text-info" href="javascript:void(0)" (click)="goToEdit(record)"> -->
                      <a class="dropdown-item text-primary" href="javascript:void(0)">
                        <i class="now-ui-icons ui-2_settings-90"></i> Edit Record
                      </a>
                      <!-- <a class="dropdown-item text-danger" href="javascript:void(0)" (click)="removeRecord(record)"> -->
                      <a class="dropdown-item text-primary" href="javascript:void(0)">
                        <i class="now-ui-icons ui-1_simple-remove"></i> Remove
                      </a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </app-advance-table>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title">Closed Shipments</h4>
          <p class="category"> PMT Shipment Status: Boarded</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
              <th class="text-left">SN</th>
              <th>Code</th>
              <th>Customer</th>
              <th>Schedule</th>
              <th>Route</th>
              <th>Seat(s)</th>
              <th>Payment</th>
              <th>Shipment</th>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>QWT9027282PL82</td>
                <td>Aunt Susan, 9708066788</td>
                <td>PMT2012 @ 2019-05-19 8:30</td>
                <td>Enugu, Okpara Ave. => Nsukka</td>
                <td>2 [7,8]</td>
                <td>Successful USSD UNIONBANK</td>
                <td>Boarded</td>
              </tr>
              <tr>
                <td>2</td>
                <td>ABG7282PL82</td>
                <td>Friday Obinna, 0908066788</td>
                <td>PMT2012 @ 2019-05-19 8:30</td>
                <td>Onitsha, Awka Rd. => Enugu, Okpara Ave.</td>
                <td>4 [2, 9, 11, 16]</td>
                <td>Successful USSD UNIONBANK</td>
                <td>Boarded</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
