
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Subject Detail</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                  <tbody>
                    <tr><th>Name : </th><td>{{ record.name }}</td></tr>
                    <tr><th>Code : </th><td>{{ record.code }}</td></tr>
                    <tr><th>HOD : </th><td>{{ record.hod.surname }} {{record.hod.given_name}}</td></tr>
                    <tr><th>Subsidiary : </th><td>{{ record.subsidiary }}</td></tr>
                    <tr><th>Description : </th><td>{{ record.description }}</td></tr>
                    <!-- <tr><th>Created : </th><td>{{ record.created_at | date }}</td></tr>
                    <tr><th>Update : </th><td>{{ record.updated_at | date }}</td></tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

