
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Asset Detail</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                  <tbody>
                    <tr><th>Name : </th><td>{{ record.name }}</td></tr>
                    <tr><th>Type : </th><td>{{ record.type }}</td></tr>
                    <tr><th>Value : </th><td>{{ record.value }}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

