<div class="card">
    <div class="card-body">
      <form action="" [formGroup]="editForm" (submit)="onSubmit()">
        <div class="row">
          <div class="col-md-12">
            <label for=""><strong>Name: </strong></label>
            <input type="text" formControlName="name" id="name" class="form-control" #na style="border-radius: 0px">
          </div>
          <div class="col-md-12">
              <label for=""><strong>Block: </strong></label>
              <input type="text" formControlName="block" id="block" class="form-control" #na style="border-radius: 0px">
            </div>
            <div class="col-md-12">
              <label for=""><strong>Level: </strong></label>
              <select formControlName="level" id="level" class="form-control" #lev>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </div>
          <div class="col-md-12">
              <label for=""><strong>Subsidiary</strong></label>
              <select formControlName="subsidiary" id="subsidiary" class="form-control"> <!--  (change)="onChange($event, na.value)" -->
                <option value="CRECHE">CRECHE</option>
                <option value="NURSERY">NURSERY</option>
                <option value="PRIMARY">PRIMARY</option>
                <option value="SECONDARY">SECONDARY</option>
              </select>
            </div>
          <div class="col-md-12">
            <label for=""><strong>Class</strong></label>
            <appanalyst-select
                [items]="classeOptions"
                formControlName="classe"
                bindValue="id"
                bindLabel="text"
                placeholder="Select Class"
              >
              </appanalyst-select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button [disabled]="editForm.invalid || loading" class="btn btn-primary btn-block">
              Submit <span *ngIf="loading" class="fa fa-gear spin"> </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
