<div class="card">
    <div class="card-body">
      <form action="" [formGroup]="editForm" (submit)="onSubmit()">
        <div class="row">
          <div class="col-md-12">
            <label for=""><strong>Amount: </strong></label>
            <input type="number" formControlName="amount" id="amount" class="form-control" #na style="border-radius: 0px">
          </div>
          <div class="col-md-12">
            <label for=""><strong>Description</strong></label>
            <textarea formControlName="description" id="description" cols="10" rows="5" class="form-control"></textarea>
          </div>
          
          
        </div>
        <div class="row">
          <div class="col-md-12">
            <button [disabled]="editForm.invalid || loading" class="btn btn-primary btn-block">
              Submit <span *ngIf="loading" class="fa fa-gear spin"> </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
