<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <button class="btn btn-default" routerLink="/example/edit/"> <i class="now-ui-icons ui-2_settings-90"></i> Edit Record</button>
            <button class="btn btn-primary pull-right" (click)="goBack()"> <i class="now-ui-icons arrows-1_minimal-left"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Example Detail</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary"><th>Property</th><th>Value</th></thead>
                <tbody>
                <tr><th>Shipment Code</th><td>030303</td></tr>
                <tr><th>Shipment Name</th><td>Example column</td></tr>
                <tr><th>sender</th><td>Okafor Chijioke</td></tr>
                <tr><th>Receiver</th><td>Chijioke Okafor</td></tr>
                <tr><th>Terminal From</th><td>Enugu</td></tr>
                <tr><th>Terminal To</th><td>Abuja</td></tr>
                <tr><th>Current Terminal</th><td>Enugu</td></tr>
                <tr><th>Billing Type</th><td>Pre-paid</td></tr>
                <tr><th>Delivery Status</th><td>PENDING</td></tr>
                <tr><th>Amount Paid</th><td>2000</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
