<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <button class="btn btn-info pull-right" (click)="goBack()"> <i class="now-ui-icons arrows-1_minimal-left"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> {{page_name}}</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

            <div class="row">
              
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="surname" class="control-label required"> <strong> Surname * </strong></label>
                  <input type="text" class="form-control" formControlName="surname" id="surname" placeholder="Surname" required>
                </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="given_name" class="control-label required"> <strong> Other Names * </strong></label>
                  <input type="text" class="form-control" formControlName="given_name" id="given_name" placeholder="Given Name" required>
                </div>
              </div>
              
            </div>

          <div class="row">
            
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="phone" class="control-label required"> <strong> Phone Number*  </strong></label>
                <input type="text" class="form-control" formControlName="phone" id="phone" placeholder="Phone" required>
              </div>
            </div>

            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="gender" class="control-label required"> <strong> Gender* </strong></label>
                <select formControlName="gender" id="gender" class="form-control" required>
                  <option value="MALE">MALE</option>
                  <option value="FEMALE">FEMALE</option>
                </select>
              </div>
            </div>
            
          </div>

          <div classs="row">
            
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="birth_date" class="control-label required"> <strong> Date of Birth* </strong></label>
                <input type="date" class="form-control" formControlName="birth_date" id="birth_date" placeholder="Date" required>
              </div>
            </div>

            <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="photo" class="control-label required"> <strong> Passport </strong></label>
                  <input type="file" class="form-control" formControlName="photo" id="photo">
                </div>
              </div>

          </div>

           <div class="row">

              <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label for="email" class="control-label required"> <strong> Email*  </strong></label>
                    <input type="email" class="form-control" formControlName="email" id="email" placeholder="you@example.com" required>
                  </div>
                </div>

             <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="address" class="control-label required"> <strong> Address* </strong></label>
                <textarea type="text" class="form-control" formControlName="address" id="address" placeholder="Address" required>
                </textarea>  
              </div>

            </div>

           </div>

            <div class="row">
             <div class="col-md-6 pr-1">
               <div class="form-group">
                 <label for="state" class="control-label required"> <strong> State </strong></label>
                 <ng-select class="form-control" id="state" formControlName="state" placeholder=""
                           [items]="stateOptions"
                           bindLabel="text"
                           [virtualScroll]="true"
                           bindValue="id">
                </ng-select>
               </div>
             </div>
             <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="county" class="control-label required"> <strong> Local Government Area </strong></label>
                <ng-select class="form-control" id="county" formControlName="county" placeholder=""
                          [items]="countyOptions"
                          bindLabel="text"
                          [virtualScroll]="true"
                          bindValue="id">
               </ng-select>
              </div>
            </div>
              
            </div>

            <div class="row">

                <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label for="level" class="control-label required"> <strong> Level* </strong></label>
                        <select formControlName="level" id="level" class="form-control" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                          </select>
                    </div>
                  </div>

                  <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label for="classe" class="control-label required"> <strong> Class </strong></label>
                        <ng-select class="form-control" id="classe" formControlName="classe" placeholder=""
                                  [items]="classeOptions"
                                  bindLabel="text"
                                  [virtualScroll]="true"
                                  bindValue="id">
                       </ng-select>
                      </div>
                    </div>

              </div>

            <div class="row">

                <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label for="hostel" class="control-label required"> <strong> Hostel </strong></label>
                      <ng-select class="form-control" id="hostel" formControlName="hostel" placeholder=""
                                [items]="hostelOptions"
                                bindLabel="text"
                                [virtualScroll]="true"
                                bindValue="id">
                     </ng-select>
                    </div>
                  </div>

                  <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label for="subsidiary" class="control-label required"> <strong> School* </strong></label>
                        <select formControlName="subsidiary" id="subsidiary" class="form-control" required>
                            <option value="SECONDARY">SECONDARY</option>
                            <option value="PRIMARY">PRIMARY</option>
                            <option value="NURSERY">NURSERY</option>
                            <option value="CRECHE">CRECHE</option>
                            <option value="DAYCARE">DAYCARE</option>
                          </select>
                      </div>
                    </div>
                  
            </div>
            <div class="row">

                <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label for="parents" class="control-label required"> <strong> Parents </strong></label>
                      <ng-select class="form-control" id="parents" formControlName="parents" placeholder=""
                                [items]="parentOptions"
                                bindLabel="text"
                                [virtualScroll]="true"
                                [multiple]="true"
                                bindValue="id">
                     </ng-select>
                    </div>
                  </div>
   
              </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">Submit
                  <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


